.DS_Store
.git
.gitignore
.vscode
.dockerignore

node_modules/
.next/
out/
build/
coverage/

# python
__pycache__/
*.pyc
.venv/
backend/.venv/
backend/__pycache__/

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example
